BACKEND_URL=http://10.0.2.2:5000/api
# BACKEND_URL=https://conet-l3om.onrender.com/api
# BACKEND_URL=https://conet-notification-service.onrender.com/api

SUPABASE_URL=
SUPABASE_ANON_KEY=

IOS_CLIENT_ID=
WEB_CLIENT_ID=

DEEP_LINK_HOST=
# DEEP_LINK_BASE_PATH=/conet-links